@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=Fira+Sans&family=Lato&display=swap');

.recipe-font {
    font-family: 'Fira Sans', sans-serif;
    text-shadow: 1px 1px 3px #000000;
    color: whitesmoke
}
#menu__toggle {
opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
top: 0;
transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
top: 0;
transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
left: 0 !important;
}
.menu__btn {
position: fixed;
top: 50px;
left: 20px;
width: 26px;
height: 26px;
cursor: pointer;
z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
display: block;
position: absolute;
width: 100%;
height: 2px;
background-color: #616161;
transition-duration: .25s;
}
.menu__btn > span::before {
content: '';
top: -8px;
}
.menu__btn > span::after {
content: '';
top: 8px;
}
.menu__box {
display: block;
position: fixed;
top: 0;
left: -100%;
width: 300px;
height: 100px;
margin: 0;
padding: 80px 0;
list-style: none;
background-color: #ECEFF1;
box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
transition-duration: .25s;
}
.menu__item {
display: block;
padding: 12px 24px;
color: #333;
font-family: 'Roboto', sans-serif;
font-size: 20px;
font-weight: 600;
text-decoration: none;
transition-duration: .25s;
}
.menu__item:hover {
background-color: #CFD8DC;
}



h1 {
    text-align: center;
    font-size: 60px;  
}

.h2-list {
    text-align: center;
    font-size: 30px;
}

body {
    margin-left: 10px;
    height: 100%;
    /* position: relative; */
    background-color: rgb(233, 227, 232);
}
header {
    z-index: 2;
    position: fixed;
    height: 60px;
}
main {
    padding-top: 30px;
    z-index: 1;
}
.body-detail-pad {
    padding-top: 40px;
    padding-left: 50px;
}
.main-container {
    /* min-height: 100vh; */
    padding: 30px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    flex-wrap: wrap;
    padding-bottom: 100px;
    grid-auto-rows: auto;
    grid-gap: 25px;
}


footer {
    position:fixed;
    /* border: 1px solid black; */
    text-align: center;
    bottom: 0%;
    left: 0;
    right: 0;
    padding-top: 10px;
    height: 40px;
    width: 100%;
    font-size: 18px;
    background-color: rgb(233, 227, 232);
    color:whitesmoke;
}
/* rgb(218, 205, 205); */

img {
    height: 200px;
    border-radius: 24px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    
nav {
    position: fixed;
    max-height: fit-content;
    align-content: center;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    left: 0;
    right: 0;
    top: 0%;
    height: 40px;
    background-color: rgb(233, 227, 232);
}

a:link {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    text-decoration: none;
    cursor:pointer;
    font-size: larger;
}

a:visited {
    text-decoration: none;
    color:whitesmoke;
}

.veggie-font {
    color:whitesmoke;
    
}
.table-shade {
    background-color: gray;
}

tr:nth-child(even) {
    background-color: gray;
}

